.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  background-color: #fff;
  font-family: Inter, sans-serif;
  color: #0f0f0f;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 45px;
  line-height: 1.25em;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 34px;
  line-height: 1.2em;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 26px;
  line-height: 1.4em;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 12px;
  color: #28292b;
  font-size: 22px;
  line-height: 1.4em;
  font-weight: 600;
}

h5 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #99a4af;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}

a {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #0075eb;
  text-decoration: none;
}

a:hover {
  color: #003b77;
}

ul {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
  opacity: 0.9;
  font-size: 18px;
  line-height: 1.4em;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #626a72;
  font-size: 15px;
  font-weight: 400;
}

em {
  font-family: 'Noto Serif', sans-serif;
  font-style: italic;
  letter-spacing: -0.5px;
}

blockquote {
  margin-bottom: 16px;
  padding: 10px 20px;
  border-left: 5px solid #cff800;
  color: #28292b;
  font-size: 18px;
  line-height: 1.4em;
}

figcaption {
  margin-top: 16px;
  text-align: center;
}

.wrapper {
  width: 100%;
  min-height: 80vh;
}

.section {
  position: relative;
  z-index: 0;
  padding-top: 96px;
  padding-bottom: 96px;
}

.section.blue {
  background-color: #0075eb;
  color: #fff;
}

.section.light-blue {
  background-color: #dfeeff;
}

.section.large {
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 130px;
}

.section.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 160px;
  padding-bottom: 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.overflow-none {
  overflow: hidden;
}

.section.lime {
  background-color: #cff800;
}

.section.full-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  padding-top: 250px;
  padding-bottom: 170px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
  background-image: url('../images/Untitled-design-5.png');
  background-position: 0px 0px;
  background-size: cover;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  background-clip: padding-box;
  -webkit-text-fill-color: inherit;
}

.button {
  margin-bottom: 8px;
  padding: 8px 32px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 9px;
  background-color: #cff800;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  -webkit-transition: box-shadow 200ms ease, border-color 200ms ease, color 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, border-color 200ms ease, color 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease, color 200ms ease, background-color 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease, color 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
  color: #0f0f0f;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.button:hover {
  background-color: #bbe600;
  color: #0f0f0f;
}

.button:active {
  background-color: #a7c902;
  box-shadow: 0 0 0 0 rgba(32, 32, 32, 0);
  -webkit-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
}

.button.no-margin {
  margin-right: 0px;
  margin-left: 0px;
}

.button.outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #cff800;
}

.button.outline:hover {
  background-color: #eaff81;
  box-shadow: inset 0 0 0 2px #eaff81;
}

.button.outline:active {
  background-color: #cff800;
  box-shadow: inset 0 0 0 2px #cff800;
}

.button.grey {
  background-color: #f7f9fa;
  box-shadow: none;
  color: #626a72;
}

.button.grey:hover {
  background-color: #dee5eb;
  color: #0f0f0f;
}

.button.grey:active {
  background-color: #c2cdd8;
  color: #28292b;
}

.button.disabled {
  background-color: #f7f9fa;
  box-shadow: none;
  opacity: 0.7;
  color: #c2cdd8;
}

.button.disabled:active {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.button.blue {
  background-color: #0075eb;
  color: #fff;
}

.button.blue:hover {
  background-color: #0259b1;
}

.button.blue:active {
  background-color: #003b77;
}

.spacer {
  height: 48px;
  background-color: #dee5eb;
}

.spacer._64 {
  width: 64px;
  height: 64px;
  background-color: transparent;
}

.spacer._32 {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: transparent;
}

.spacer._24 {
  width: 24px;
  height: 24px;
  background-color: transparent;
  text-transform: uppercase;
}

.spacer._48 {
  width: 48px;
  border-radius: 6px;
  background-color: transparent;
}

.spacer._128 {
  width: 128px;
  height: 128px;
  background-color: transparent;
}

.spacer._80 {
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.spacer._96 {
  width: 96px;
  height: 96px;
  background-color: transparent;
}

.spacer._96 {
  height: 96px;
  background-color: rgba(94, 178, 244, 0);
}

.spacer._32 {
  height: 32px;
  background-color: transparent;
}

.spacer._16 {
  width: 16px;
  height: 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
}

.text-box {
  position: relative;
  max-width: 650px;
}

.text-box._550px {
  max-width: 550px;
}

.text-box._550px.centered {
  margin-right: auto;
  margin-left: auto;
}

.text-box._500px {
  max-width: 500px;
}

.text-box.centered {
  margin-right: auto;
  margin-left: auto;
}

.text-box.vertical-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.text-box.center-align {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

._12-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -16px;
  margin-left: -16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

._12-columns.flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

._12-columns.align-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._12-columns.align-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.container {
  display: block;
  width: 100%;
  max-width: 1230px;
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container.center-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.color-block {
  width: 100%;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: #0f0f0f;
}

.color-block.light-blue {
  border-style: none;
  background-color: #cff800;
}

.color-block.lime {
  background-color: #cff800;
}

.color-block.grey {
  background-color: #626a72;
}

.color-block.light-grey {
  background-color: #99a4af;
}

.color-block.deep-lime {
  background-color: #7d9600;
}

.color-block.hard-lime {
  background-color: #a7c902;
}

.color-block.dark-grey {
  background-color: #28292b;
}

.color-block.back-grey {
  border-style: solid;
  border-width: 1px;
  border-color: #dee5eb;
  background-color: #f7f9fa;
}

.color-block.soft-lime {
  background-color: #eaff81;
}

.color-block.back-lime {
  background-color: #fbffe7;
}

.color-block.soft-grey {
  background-color: #c2cdd8;
}

.color-block.silver {
  background-color: #dee5eb;
}

.color-block.white {
  border-style: solid;
  border-width: 1px;
  border-color: #dee5eb;
  background-color: #fff;
}

.color-block.faint-lime {
  background-color: #f3ffb6;
}

.color-block.hard-blue {
  background-color: #003b77;
}

.color-block.dark-lime {
  background-color: #bbe600;
}

.color-block.dark-blue {
  background-color: #0259b1;
}

.color-block.blue {
  background-color: #0075eb;
}

.color-block.light-blue {
  background-color: #9dcbf8;
}

.color-block.soft-blue {
  background-color: #dfeeff;
}

.color-block.faint-blue {
  background-color: #f1f8ff;
}

.white {
  color: #fff;
  font-weight: 300;
}

.column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 32px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column.desk-4 {
  width: 33.33%;
}

.column.desk-9 {
  width: 75%;
}

.column.desk-3 {
  width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.column.desk-8 {
  width: 66.66666666666667%;
}

.ds-block {
  margin-bottom: 32px;
  font-size: 18px;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  margin-bottom: 36px;
  background-color: #dee5eb;
}

.horizontal-line.design-system {
  position: relative;
  bottom: -80px;
}

.rich-text {
  text-align: left;
}

.rich-text img {
  border-radius: 5px;
}

.rich-text h4 {
  margin-top: 24px;
}

.rich-text h3 {
  margin-top: 24px;
}

.nav-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-cta-button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button.w--open {
  background-color: #fff;
  color: rgba(9, 106, 208, 0.2);
}

.nav-bar {
  position: fixed;
  top: 0px;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.logo-div {
  display: block;
  margin-top: 4px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-logo {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.nav-logo:hover {
  opacity: 0.75;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-link {
  display: block;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #0f0f0f;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  opacity: 1;
  color: #626a72;
}

.footer-link.w--current {
  opacity: 1;
}

.footer-links-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer {
  position: relative;
  z-index: 0;
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: #f7f9fa;
  color: #0f0f0f;
}

.nav-dropdown {
  position: relative;
  margin-right: 2px;
  margin-left: 6px;
  padding: 5px 22px 5px 8px;
  border-radius: 5px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #28292b;
  line-height: 26px;
  font-weight: 500;
}

.nav-dropdown:hover {
  opacity: 1;
  color: #0075eb;
}

.nav-dropdown.w--current {
  -webkit-transition-property: none;
  transition-property: none;
  color: #096ad0;
  font-weight: 700;
}

.paragraph {
  font-size: 18px;
}

.paragraph.small {
  opacity: 0.75;
  font-size: 14px;
  line-height: 1.4em;
}

.paragraph.large {
  font-size: 20px;
  line-height: 1.4em;
}

.paragraph.medium {
  opacity: 0.8;
  font-size: 16px;
}

.paragraph.extra-large {
  font-size: 24px;
  line-height: 1.4em;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-menu {
  padding-right: 12px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.ds-menu-brand {
  width: 140px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.ds-menu {
  width: 100%;
}

.ds-menu-link {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;
  border-left: 4px solid transparent;
  color: #fff;
}

.ds-menu-link:hover {
  color: #9dcbf8;
}

.ds-menu-link.w--current {
  padding-right: 0px;
  background-color: #0259b1;
  color: #fff;
  font-weight: 500;
}

.ds-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  overflow: auto;
  width: 240px;
  padding-top: 40px;
  background-color: #0075eb;
}

.form-radio-button {
  margin-bottom: 16px;
  padding-left: 24px;
}

.radio-button {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: -24px;
}

.radio-button.w--redirected-checked {
  border-width: 6px;
  border-color: #bbe600;
}

.form-error {
  padding: 16px;
  border-radius: 6px;
  background-color: #dee5eb;
  color: #444;
}

.form {
  margin-bottom: 8px;
}

.form-checkbox {
  margin-bottom: 16px;
  padding-left: 24px;
}

.check-box {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: -24px;
}

.check-box.w--redirected-checked {
  border-color: #bbe600;
  background-color: #bbe600;
  background-position: 50% 50%;
  background-size: 16px;
}

.ds-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-left: 240px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-success {
  padding: 32px;
  border-radius: 4px;
  background-color: #dfeeff;
  color: #28292b;
  font-size: 16px;
  line-height: 1.4em;
}

.ds-section {
  position: relative;
  z-index: 0;
  padding: 60px 80px 48px 60px;
  text-align: left;
}

.ds-section.header {
  background-color: #f7f9fa;
  color: #0f0f0f;
}

.ds-title {
  margin-bottom: 8px;
  color: #28292b;
}

.ds-section-header {
  margin-bottom: 50px;
}

.text-input {
  margin-bottom: 16px;
  padding: 21px 16px;
  border: 1px solid #eff1f3;
  border-radius: 2px;
  background-color: #f7f9fa;
  font-size: 15px;
  line-height: 1.4px;
}

.text-input:focus {
  border-color: #bbe600;
}

.text-input::-webkit-input-placeholder {
  color: #c2cdd8;
}

.text-input:-ms-input-placeholder {
  color: #c2cdd8;
}

.text-input::-ms-input-placeholder {
  color: #c2cdd8;
}

.text-input::placeholder {
  color: #c2cdd8;
}

.text-area {
  min-height: 120px;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #eff1f3;
  border-radius: 2px;
  background-color: #f7f9fa;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01);
  font-size: 15px;
}

.text-area::-webkit-input-placeholder {
  color: #c2cdd8;
}

.text-area:-ms-input-placeholder {
  color: #c2cdd8;
}

.text-area::-ms-input-placeholder {
  color: #c2cdd8;
}

.text-area::placeholder {
  color: #c2cdd8;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical-tab {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.tab-link {
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 2px solid #dee5eb;
  background-color: transparent;
  opacity: 0.5;
  color: #626a72;
  font-size: 18px;
  text-align: center;
}

.tab-link:hover {
  border-bottom-color: #c2cdd8;
  color: #626a72;
}

.tab-link.w--current {
  border-bottom-color: #9dcbf8;
  background-color: transparent;
  opacity: 1;
  color: #28292b;
  font-weight: 600;
}

.question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.answer {
  display: block;
  overflow: hidden;
}

.question-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 8px;
  padding: 28px 28px 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 6px;
  background-color: #f1f8ff;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.question-arrow-icon {
  margin-top: 8px;
  margin-right: 0px;
  margin-left: 24px;
}

.ds-description {
  max-width: 400px;
  color: #626a72;
}

.questions {
  width: 100%;
  margin-bottom: 48px;
  border-radius: 4px;
}

.small-button {
  margin-bottom: 16px;
  padding: 5px 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 8px;
  background-color: #cff800;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: border-color 200ms ease, color 200ms ease, box-shadow 200ms ease, background-color 200ms ease;
  transition: border-color 200ms ease, color 200ms ease, box-shadow 200ms ease, background-color 200ms ease;
  color: #0f0f0f;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.small-button:hover {
  background-color: #bbe600;
  box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.2);
  color: #0f0f0f;
}

.small-button:active {
  background-color: #a7c902;
}

.small-button.light {
  margin-right: 0px;
  background-color: #f7f9fa;
  box-shadow: none;
  color: #626a72;
}

.small-button.light:hover {
  background-color: #dee5eb;
  color: #0f0f0f;
}

.small-button.light:active {
  background-color: #c2cdd8;
}

.small-button.outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #cff800;
}

.small-button.outline:hover {
  background-color: #bbe600;
  box-shadow: inset 0 0 0 2px #bbe600;
  color: #fff;
}

.small-button.outline:active {
  background-color: #a7c902;
  box-shadow: inset 0 0 0 2px #a7c902;
}

.small-button.blue {
  background-color: #0075eb;
  color: #fff;
}

.small-button.blue:hover {
  background-color: #0259b1;
}

.small-button.blue:active {
  background-color: #003b77;
}

.nav-container {
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.center-image {
  position: relative;
  display: block;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}

.error-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.logo {
  display: block;
  margin-top: 4px;
}

.nav-link {
  margin-right: 4px;
  margin-left: 4px;
  padding: 6px 8px;
  -webkit-transition: background-color 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, transform 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, transform 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  color: #0075eb;
}

.nav-link:active {
  color: #0259b1;
}

.nav-link.w--current {
  color: #28292b;
}

.nav-link.primary {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 8px;
  background-color: #0075eb;
  box-shadow: 0 2px 0 0 hsla(0, 0%, 100%, 0.2);
  -webkit-transition: box-shadow 200ms ease, background-color 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, background-color 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, background-color 200ms ease, transform 200ms ease, color 200ms ease;
  transition: box-shadow 200ms ease, background-color 200ms ease, transform 200ms ease, color 200ms ease, -webkit-transform 200ms ease;
  color: #fff;
}

.nav-link.primary:hover {
  background-color: #0259b1;
}

.nav-link.primary:active {
  background-color: #003b77;
  box-shadow: 0 0 0 0 #dee5eb;
  -webkit-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  transform: translate(0px, 2px);
}

.form-dropdown {
  position: relative;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 1px solid #eff1f3;
  border-radius: 2px;
  background-color: #f7f9fa;
  color: #99a4af;
  font-size: 15px;
}

.form-dropdown:focus {
  color: #37474e;
}

.form-dropdown::-webkit-input-placeholder {
  color: #999;
  font-size: 15px;
}

.form-dropdown:-ms-input-placeholder {
  color: #999;
  font-size: 15px;
}

.form-dropdown::-ms-input-placeholder {
  color: #999;
  font-size: 15px;
}

.form-dropdown::placeholder {
  color: #999;
  font-size: 15px;
}

.field-block {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 20px;
  min-width: 50px;
  margin-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid transparent;
}

.error {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-header {
  color: #99a4af;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-container {
  display: block;
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ds-colour-block {
  display: inline-block;
  width: 12.5%;
  padding-right: 16px;
}

.ds-colour-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ds-module {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  min-width: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 2px;
  background-color: #dee5eb;
}

._1-2-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-1-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading {
  display: block;
  font-weight: 700;
}

.heading.h1 {
  margin-bottom: 18px;
  font-size: 58px;
  line-height: 1.2em;
}

.heading.h2 {
  margin-bottom: 20px;
  font-size: 46px;
  line-height: 1.2em;
}

.heading.h3 {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 1.4em;
}

.heading.h4 {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 1.4em;
}

.heading.h5 {
  margin-bottom: 12px;
  color: #28292b;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading.h6 {
  color: #626a72;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
}

.heading.large-h1 {
  margin-bottom: 24px;
  font-size: 90px;
  line-height: 1.2em;
}

.error2 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.licenses-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 96px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #dee5eb;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.visible-spacer {
  display: inline-block;
  margin-bottom: 24px;
  border-radius: 2px;
  background-color: #dee5eb;
}

.field-split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-spacer {
  width: 24px;
  height: 10px;
}

.questions-section {
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

._3-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._4-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.terms-card {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 64px 48px;
  border-style: solid;
  border-width: 1px;
  border-color: #dee5eb;
  border-radius: 2px;
  background-color: #f7f9fa;
  color: #0f0f0f;
}

._2-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-grid._2-on-mobile {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.container-2 {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: 1280px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.script-font {
  position: absolute;
  top: 0px;
  display: block;
}

.social-links {
  display: -ms-grid;
  display: grid;
  margin-right: 16px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.featured-nft {
  position: absolute;
  left: -195px;
  z-index: -1;
  -webkit-transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  transform: rotate(11deg);
}

.featured-nft-2 {
  position: absolute;
  top: -183px;
  right: -264px;
  z-index: -1;
  -webkit-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.featured-nft-3 {
  position: absolute;
  top: -366px;
  right: 243px;
  z-index: -1;
  -webkit-transform: rotate(29deg);
  -ms-transform: rotate(29deg);
  transform: rotate(29deg);
}

.nft-image {
  display: block;
  width: 300px;
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
}

.featured-nft-4 {
  position: absolute;
  top: 335px;
  right: 40px;
  z-index: -1;
  -webkit-transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  transform: rotate(11deg);
}

.script-font-2 {
  position: absolute;
  left: 27px;
  top: 45px;
  display: block;
}

.link {
  border-bottom: 1px solid rgba(207, 248, 0, 0.5);
  -webkit-transition: border-color 200ms ease, color 200ms ease;
  transition: border-color 200ms ease, color 200ms ease;
  color: #cff800;
}

.link:hover {
  border-bottom-color: #cff800;
  color: #bbe600;
}

.link.blue {
  border-bottom-color: #9dcbf8;
  color: #0075eb;
}

.link.blue:hover {
  border-bottom-color: #0075eb;
  color: #0259b1;
}

.sliding-nft-grid {
  z-index: -1;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nft-slider-wrapper {
  width: 200%;
  margin-bottom: 16px;
}

.script-font-3 {
  position: absolute;
  top: 37px;
  display: block;
}

.roadmap-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.roadmap-block {
  margin-bottom: 24px;
  padding: 20px 24px 8px;
  border-radius: 6px;
  background-color: #fff;
}

.sticky-box {
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
}

.coloured-number {
  margin-right: 4px;
  color: #0075eb;
  font-size: 18px;
}

.script-font-4 {
  position: absolute;
  top: -12px;
  display: block;
}

.rarity-block {
  width: 320px;
  margin-bottom: 8px;
  padding: 10px 14px;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 3px;
  background-color: #f7f9fa;
  font-size: 18px;
  line-height: 1.2em;
  text-align: left;
}

.rarity-block.dark-lime {
  background-color: #bbe600;
}

.rarity-block.back-lime {
  background-color: #fbffe7;
}

.rarity-block.faint-lime {
  background-color: #f3ffb6;
}

.rarity-block.soft-lime {
  background-color: #eaff81;
}

.rarity-block.lime {
  background-color: #cff800;
}

.rarity-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 0.8fr 1fr;
  grid-template-columns: 0.8fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.creator-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 96px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-grid {
  justify-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 64px;
  -ms-grid-columns: 1fr 320px;
  grid-template-columns: 1fr 320px;
}

.footer-social-link-block {
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #dfeeff;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
}

.footer-social-link-block:hover {
  background-color: #dfeeff;
}

.footer-main-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.overflow-image-right {
  position: relative;
  display: block;
  width: 110%;
  max-width: 110%;
  margin: -418px auto;
}

.featured-nft-5 {
  position: absolute;
  left: -392px;
  top: -474px;
  z-index: -1;
  -webkit-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg);
}

.featured-nft-6 {
  position: absolute;
  right: -550px;
  bottom: -240px;
  z-index: -1;
  -webkit-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg);
}

.footer-social-links {
  display: -ms-grid;
  display: grid;
  margin-right: 16px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image {
  width: 30%;
}

.display{
  display: inline-flex;
}

@media screen and (min-width: 1280px) {
  .section.blue {
    background-color: #fdf7be;
  }

  .section.light-blue {
    background-color: rgba(245, 209, 209, 0.7);
  }

  .section.overflow-none {
    background-color: transparent;
  }

  .paragraph {
    color: #0f0f0f;
  }

  .heading.h2 {
    background-color: transparent;
    color: #0f0f0f;
  }
}

@media screen and (max-width: 991px) {
  .button {
    position: relative;
  }

  ._12-columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .column {
    width: 50%;
  }

  .column.desk-3 {
    width: 33.33%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .ds-block {
    margin-bottom: 40px;
  }

  .menu-icon {
    color: #096ad0;
  }

  .nav-content {
    margin-left: 16px;
  }

  .menu-button.w--open {
    background-color: transparent;
    color: #096ad0;
  }

  .logo-div {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .nav-logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .footer-links-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .nav-dropdown {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 8px;
    padding-left: 8px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 15px;
    text-align: center;
  }

  .ds-menu-brand {
    margin-bottom: 20px;
  }

  .ds-menu {
    position: absolute;
    left: 0%;
    top: 80px;
    right: auto;
    bottom: auto;
    z-index: 500;
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #dee5eb;
    background-color: #fff;
  }

  .ds-nav {
    position: -webkit-sticky;
    position: sticky;
    left: auto;
    bottom: auto;
    z-index: 10;
    overflow: visible;
    width: 100%;
    padding-top: 20px;
  }

  .ds-content {
    position: static;
    margin-left: 0px;
  }

  .small-button {
    position: relative;
  }

  .nav-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .nav-link {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 15px;
  }

  .nav-link.primary {
    padding-right: 16px;
    padding-left: 16px;
  }

  .footer-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  ._1-2-grid {
    margin-left: 0px;
  }

  ._2-1-grid {
    margin-left: 0px;
  }

  .error2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .licenses-grid {
    margin-left: 0px;
    grid-column-gap: 40px;
  }

  .ds-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ds-menu-button {
    top: -10px;
    margin-right: 12px;
  }

  .ds-menu-button.w--open {
    border-radius: 40px;
    background-color: #bbe600;
  }

  ._3-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  ._4-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .terms-card {
    padding-top: 64px;
  }

  .container-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .creator-grid {
    grid-column-gap: 64px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.large {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.hero {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .spacer {
    height: 32px;
  }

  .spacer._64 {
    height: 48px;
  }

  .spacer._48.hidden-mobile {
    display: none;
  }

  .text-box._500px.mobile-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  ._12-columns {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  ._12-columns.flex-horizontal {
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column.desk-4 {
    width: 100%;
  }

  .column.desk-9 {
    width: 100%;
  }

  .column.desk-8 {
    width: 100%;
  }

  .nav-content {
    position: absolute;
    z-index: 2;
    overflow: auto;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid #f7f9fa;
    background-color: #fff;
  }

  .nav-cta-button-container {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .menu-button {
    width: 56px;
    height: 56px;
    margin-right: -12px;
    padding: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-bar {
    border: 1px none #000;
  }

  .logo-div {
    margin-right: auto;
  }

  .footer-logo {
    padding-left: 0px;
  }

  .footer-links-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-dropdown {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 16px;
  }

  .nav-dropdown:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .paragraph {
    font-size: 17px;
  }

  .paragraph.extra-large {
    font-size: 21px;
  }

  .nav-menu {
    padding-right: 0px;
    text-align: center;
  }

  .ds-menu-brand.w--current {
    margin-top: 14px;
  }

  .ds-menu {
    padding: 16px 24px 24px;
    background-color: #fff;
  }

  .ds-content {
    margin-left: 0px;
  }

  .ds-section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .tabs-menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tab-link {
    width: auto;
  }

  .nav-container {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .center-image.mobile-small {
    max-width: 50%;
    margin-left: 0px;
  }

  .center-image.mobile-hidden {
    display: none;
  }

  .logo {
    max-width: 90%;
  }

  .nav-link {
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    text-align: center;
  }

  .nav-link:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .field-block {
    min-height: auto;
  }

  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ds-colour-block {
    width: 25%;
  }

  ._1-2-grid {
    margin-left: 0px;
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }

  ._2-1-grid {
    margin-left: 0px;
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }

  .heading.h1 {
    font-size: 35px;
  }

  .heading.h2 {
    margin-bottom: 16px;
    font-size: 36px;
  }

  .heading.h3 {
    font-size: 28px;
  }

  .heading.h4 {
    font-size: 20px;
  }

  .heading.large-h1 {
    font-size: 60px;
  }

  .licenses-grid {
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._3-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .terms-card {
    padding-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
  }

  ._2-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-grid._2-on-mobile {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .container-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .script-font {
    display: none;
  }

  .social-links {
    width: 100px;
    margin: 12px auto;
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }

  .featured-nft {
    left: -108px;
    top: 133px;
  }

  .featured-nft-2 {
    right: -104px;
  }

  .featured-nft-3 {
    top: -316px;
  }

  .nft-image {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .featured-nft-4 {
    top: 305px;
  }

  .script-font-2 {
    display: none;
  }

  .nft-slider-wrapper {
    width: 300%;
  }

  .script-font-3 {
    display: none;
  }

  .roadmap-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .sticky-box {
    position: static;
  }

  .script-font-4 {
    display: none;
  }

  .rarity-block {
    width: 100%;
  }

  .rarity-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .creator-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-grid {
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .overflow-image-right.mobile-hidden {
    display: none;
  }

  .footer-social-links {
    margin-right: 0px;
  }

  .display{
    display: inline-block;
    justify-content: center;
    align-items: center;
    float: left;
      width: 33.33%;
      padding: 5px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  .button {
    width: 100%;
    font-size: 16px;
  }

  ._12-columns.flex-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .color-block {
    margin-bottom: 20px;
  }

  .column {
    margin-bottom: 0px;
  }

  .column.desk-3 {
    width: 100%;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .ds-section {
    padding-right: 16px;
    padding-left: 16px;
  }

  .text-input {
    width: 100%;
  }

  .text-area {
    width: 100%;
  }

  .answer {
    padding-left: 0px;
  }

  .question-container {
    padding: 20px 20px 8px;
  }

  .question-arrow-icon {
    margin-left: 16px;
  }

  .nav-container {
    height: 64px;
    padding: 2px 20px;
  }

  .center-image.mobile-small {
    max-width: 70%;
  }

  .footer-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .error2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .field-split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .field-spacer {
    display: none;
  }

  ._4-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .terms-card {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .container-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .featured-nft {
    left: -107px;
    top: 77px;
  }

  .featured-nft-2 {
    top: -72px;
    right: -129px;
  }

  .featured-nft-3 {
    top: -252px;
    right: 156px;
  }

  .nft-image {
    width: 160px;
  }

  .nft-slider-wrapper {
    width: 400%;
  }
}

#w-node-_1a700ac1-51c5-d994-21de-a73c47c5f273-88463319 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_7989f02f-4bee-7713-a7b1-76f4d729a6b7-4f46330e {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-be77ec89-8fc5-5e83-bcf8-c7a54b5b8683-4f46330e {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-c5654a67-12b1-479f-db87-277295a55cb7-cf3fcb86 {
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
  }

  #w-node-_4eadc708-f91c-0e51-116c-ffcdd56f3681-34463317 {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}

